@import '../colors.scss';

.root {
  box-sizing: border-box;
  position: relative;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  padding: 2px 12px 2px 12px;
  margin-left: 7px;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 24px;
  transition: background-color ease 300ms;

  .thumb {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 18px;
    height: 18px;
    left: -6px;
  }

  .tagRemoveButton {
    margin-left: 6px;
    line-height: 14px;
  }

  &.tagWithRemoveButton {
    padding-right: 6px;
  }

  &.disabled {
    background-color: $GR30;
    color: $D30;

    &:hover {
      background-color: $GR30;
    }
  }
}

//Sizes
.large {
  height: 36px;
  padding: 2px 18px 2px 18px;

  .thumb {
    height: 24px;
    width: 24px;
  }
  .tagRemoveButton {
    margin-left: 12px;
    line-height: 26px;
  }
}

//Ellipsis
.tagWrap {
  overflow: hidden;
}

.innerTagWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//Themes
.standard-theme {
  background-color: $B40;
  &:hover {
    background-color: $B30;
  }
}

.warning-theme {
  background-color: $Y40;
  &:hover {
    background-color: $Y30;
  }
}

.error-theme {
  background-color: $R40;
  &:hover {
    background-color: $R30;
  }
}